body {
    background: #EFEFEF;
    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:active, a:target, a:visited {
    color: inherit;
    text-decoration: none;
}

md-toolbar md-icon svg {
    color: rgba(255, 255, 255, 0.87);
    fill: currentcolor;
}

md-list md-list-item md-icon {
    font-size: 34px;
    width: 34px;
    height: 34px;
}

md-sidenav md-icon svg {
    fill: currentcolor;
}

md-list md-list-item div.md-button {
    padding: 0 5px !important;
}

.item {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.item:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 8px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.01);
}

.item-head {
    padding: 50px 0;
    color: white;
    text-align: center;
    font-size: 80px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

md-card md-card-title {
    padding: 8px 15px;
}

md-icon.favorite svg {
    color: #EF5350;
    fill: currentcolor;
}

md-dialog-content .head {
    margin: 0 0 10px 0;
}

.add-hours-dialog md-input-container.myinput {
    margin-top: 0px;
    margin-left: 10px;
}
.add-hours-dialog .first-input-container {
    margin-top: 12px;
}
.add-hours-dialog .checkbox-input-container{
    padding-left: 15px;
}
.add-hours-dialog .checkbox-input-container span{
    margin-left: 19px;
        color: rgba(0,0,0,0.38);
}
.add-hours-dialog .checkbox-input-container md-input-container{
    margin-bottom: 0;
}
.add-hours-dialog svg,
.add-hours-dialog md-checkbox{
        color: rgba(0,0,0,0.60);
        fill: currentcolor;
}

.hour-fab{
    background-color: rgb(255,82,82) !important;
    color: rgb(255,255,255);
    position: absolute;
    top: 30px;
    left: auto;
    right: 15px;

    z-index: 9999;
}
.hour-fab svg{
    fill: currentcolor;
}

button.cardcontrols svg {
    color: white;
    fill: currentcolor;
}
