<!DOCTYPE html>
<html ng-app="toolsApp" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>TJG Tools</title>
        <link href="img/favicon.ico" rel="icon" type="image/x-icon"/>

        <!-- Angular css -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

        <!-- My stuff -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="css/colors.css">
        <link rel="stylesheet" href="css/styles.css">

        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->

    </head>
    <body ng-controller="myController" ng-cloak>
        <md-content class="md-padding" layout-xs="column" layout="row">
            <div ng-repeat="item in items" flex-xs flex-gt-xs="100" layout="column">
                <md-card class="item">
                    <div class="item-head {{item.color}} md-primary md-raised" ng-click="showDialog($event, item)">
                        <span>{{item.tag}}</span>
                    </div>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{item.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <md-icon md-svg-icon="img/svg/favorite.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Settings">
                            <md-icon md-svg-icon="img/svg/menu.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Share">
                            <md-icon md-svg-icon="img/svg/share.svg"></md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <!-- Bootstrap
        <script src="js/bootstrap.min.js"></script>-->
        <!-- my stuff -->
        <script src="js/MyOnLoad.js"></script>
        <script src="js/MyAngular.js"></script>

    </body>
</html>
