<md-card ng-controller="hourcounterController" class="itemcard">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Work hour counter</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-list class="md-dense">
            <!-- ToDo
                * Month overview in header
                * hours per month
                * Money per month 
                * etc
                
            -->
            <md-subheader class="md-primary" aria-label="Pauze" >hours</md-subheader>
            <md-list-item class="secondary-button-padding" ng-repeat="item in worked">
                <div class="md-list-item-text" flex="10">
                    <span ng-init="day = weekdays[item.day]">{{day}}</span>
                </div>
                <div class="md-list-item-text" flex="10" ng-init="monthShort = (months[item.month] | limitTo: 3); year = '\'' + (item.year - 2000)">
                    <span>{{item.date}} {{monthShort}} {{year}}</span>
                </div>
                <div class="md-list-item-text" flex="20">
                    <span>{{item.start}} - {{item.end}}</span>
                </div>
                <md-checkbox disabled ng-model="item.pauze" aria-label="Pauze"></md-checkbox>
                <md-button class="md-secondary md-icon-button" ng-click="removeItem(item.id)" aria-label="Delete">
                    <md-icon md-svg-icon="img/svg/close.svg"></md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions class="md-padding" layout="row">
        <md-button class="md-raised" ng-click="goBack()">Go Back</md-button>
        <span flex></span>
        <md-button class="cardcontrols" aria-label="Add item" md-colors="{background: 'teal'}" ng-click="showDialog($event,'Add hours to counter', 'addHours')">
            <md-icon md-svg-src="img/svg/add.svg"></md-icon>
        </md-button>
        <md-button class="cardcontrols" aria-label="Settings" md-colors="{background: 'teal'}">
            <md-icon md-svg-src="img/svg/settings-gear.svg"></md-icon>
        </md-button>
    </md-card-actions>
</md-card>