<div ng-controller="hourcounterController" class="md-dialog-content" id="content">
    <h2 class="head">Work hour counter</h2>
    <div class="" style="height: 250px;overflow: auto;">
        <md-list class="md-dense">
            <md-subheader class="md-primary">Gewerkte uren</md-subheader>
            <md-list-item class="secondary-button-padding" ng-repeat="item in worked">
                <div class="md-list-item-text" flex="10">
                    <span>{{item.day}}</span>
                </div>
                <div class="md-list-item-text" flex="15">
                    <span>{{item.date}}</span>
                </div>
                <div class="md-list-item-text" flex="15">
                    <span>{{item.start}}
                        -
                        {{item.end}}</span>
                </div>
                <md-checkbox disabled ng-model="item.pauze"></md-checkbox>
                <md-button class="md-secondary md-icon-button" ng-click="null" aria-label="Delete">
                    <md-icon md-svg-icon="img/svg/close.svg"></md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </div>
    <form class="">
        <input type="date" name="date"><br>
        <label for="start">From:</label>
        <select name="startTime">
            <option ng-repeat="time in times" value="{{time | number:2}}">{{time | number:2}}</option>
        </select>

    </form>

</div>
