<div class="md-dialog-content add-hours-dialog">
    <div layout-gt-sm="column">
        <form name="myForm" ng-controller="addHoursController" ng-submit="myForm.$valid && submit(formContent)" novalidate ng-cloak>
            <div class="form-contents" flex layout="column">
                <md-input-container class="datepicker">
                    <label>Select date</label>
                    <md-datepicker ng-model="formContent.date" ng-required="true" md-open-on-focus md-hide-icons="calendar"></md-datepicker>
                </md-input-container>
                <md-input-container>
                    <label>Start time</label>
                    <md-select ng-model="formContent.start" ng-required="true">
                        <md-option ng-repeat="time in startTimes" ng-value="time">
                            {{time}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>End time</label>
                    <md-select ng-model="formContent.end" ng-required="true">
                        <md-option ng-repeat="time in endTimes" ng-value="time">
                            {{time}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div layout="row" layout-align="start center">
                    <div flex="20">
                        <p>Pauze?</p>
                    </div>
                    <md-radio-group ng-model="formContent.pauze" layout="row">
                        <md-radio-button value="true" class="md-primary" aria-label="Wel Pauze">Yes</md-radio-button>
                        <md-radio-button value="false" class="md-primary" aria-label="Geen Pauze">No</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <md-button class="md-fab hour-fab" aria-label="Save" type="submit">
                <md-icon md-svg-src="img/svg/save.svg"></md-icon>
            </md-button>
        </form>
    </div>
</div>