<div ng-controller="addHoursController as ctrl" class="md-dialog-content add-hours-dialog">
    <div layout-gt-sm="column">
        <form name="myForm" class="" ng-submit="myForm.$valid && submit(formContent)" novalidate>
            <div class="form-contents" flex layout="column">
                <md-input-container class="datepicker">
                    <label>Select date</label>
                    <md-datepicker ng-model="formContent.date" ng-required="true" md-open-on-focus md-hide-icons="calendar"></md-datepicker>
                </md-input-container>
                <md-input-container>
                    <label>Start time</label>
                    <md-select ng-model="formContent.start" ng-required="true">
                        <md-option ng-repeat="time in startTimes" ng-value="time">
                            {{time}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>End time</label>
                    <md-select ng-model="formContent.end" ng-required="true" >
                        <md-option ng-repeat="time in endTimes" ng-value="time">
                            {{time}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Pauze</label>
                    <md-select ng-model="formContent.pauze" ng-required="true">
                        <md-option ng-value="true" >
                            Yes
                        </md-option>
                        <md-option ng-value="false">
                            No
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-button class="md-fab hour-fab" aria-label="Save" type="submit">
                <md-icon md-svg-src="img/svg/save.svg"></md-icon>
            </md-button>
        </form>
    </div>
</div>